target
.settings
gen
.DS_Store
.project
.classpath

/bin/

src/main/resources/printers.properties

src/main/resources/log4j.properties

src/main/resources/config.properties

src/main/resources/config.properties
