<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betalife.sushibuffet.dao.OrderMapper">

	<resultMap id="orderResult" type="Order">
		<id property="id" column="id" />
		<result property="count" column="count" />
		<result property="created" column="created" />
		<result property="updated" column="updated" />
		<result property="served" column="served" />
		<result property="status" column="status" />
		<result property="modified" column="modified" />
		<result property="printed" column="printed" />
		<association property="turnover" javaType="Turnover">
			<id property="id" column="turnover_id" />
			<result property="checkout" column="checkout" />
			<result property="tableId" column="table_id" />
			<result property="takeawayId" column="takeaway_id" />
			<result property="discount" column="discount" />
			<result property="payment" column="payment" />
		</association>
		<association property="product" javaType="Product">
			<id property="id" column="product_id" />
			<result property="categoryId" column="category_id" />
			<result property="productPrice" column="product_price" />
			<result property="thumb" column="thumb" />
			<result property="productName" column="name" />
			<result property="num" column="num" />
			<result property="productNum" column="product_num" />
			<result property="taxgroupId" column="taxgroup_id" />
			<result property="barName" column="bar_name" />
		</association>
	</resultMap>

	<resultMap id="orderExtResult" type="OrderExt" extends="orderResult">
		<association property="category" javaType="Category">
			<id property="id" column="category_id" />
			<result property="name" column="category_name" />			
		</association>
	</resultMap>

	<select id="selectExtOrdersByTurnover" parameterType="Order" resultMap="orderExtResult">
		SELECT o.id,o.`count`,o.turnover_id,o.product_id,t.checkout,o.updated,o.created,o.`status`, o.modified, o.served, o.printed,
			t.discount, t.payment, t.table_id, p.category_id, p.product_num, p.taxgroup_id,p.num,p.product_price,p.thumb, p.bar_name,
			m.NAME, m2.NAME category_name 
		FROM `order` o, turnover t, 
			product p LEFT JOIN multilang m ON m.id = CONCAT('p', p.id) AND m.locale = #{locale},
			category c LEFT JOIN multilang m2 ON m2.id = CONCAT('c', c.id) AND m2.locale = #{locale} 
		WHERE o.turnover_id = #{turnover.id} 
		  AND o.turnover_id = t.id 
		  AND o.product_id = p.id 
		  AND c.id = p.category_id
		  AND p.active = TRUE 
		ORDER BY o.created 
	</select>

	<select id="selectOrdersByTurnover" parameterType="Order" resultMap="orderResult">
		SELECT o.id, o.`count`, o.turnover_id, o.product_id, t.checkout, o.updated, o.created, o.`status`, o.modified, o.served, o.printed,
			p.product_num, p.taxgroup_id, t.table_id, p.category_id, p.num, p.product_price, p.thumb, p.bar_name,
			m.NAME, t.discount, t.payment
		FROM `order` o,	turnover t, product p LEFT JOIN multilang m ON m.id = CONCAT('p', p.id) AND m.locale = #{locale}
		WHERE o.turnover_id = #{turnover.id}
		AND o.turnover_id = t.id
		AND o.product_id = p.id
		AND p.active=true
		Order by o.created
	</select>

	<select id="selectOrdersByDate" parameterType="map" resultMap="orderResult">
		SELECT o.id, o.`count`, o.turnover_id, o.product_id, o.updated, o.created, o.`status`, o.modified, o.served,
			p.taxgroup_id, p.category_id, p.product_price, t.discount, t.checkout, t.takeaway_id, t.table_id, t.payment
		FROM `order` o, turnover t, product p
		<if test="attributes != null">, turnoverattribute ta</if>
		WHERE o.turnover_id = t.id
		AND o.product_id = p.id
		AND t.created BETWEEN #{from} AND #{to}
		<if test="attributes != null">
		AND t.id = ta.turnover_id AND
		<foreach item="item" index="index" collection="attributes" open="(" separator="or" close=")">
		    <!-- http://my.oschina.net/linuxred/blog/38802 foreach 说明 -->
		 	ta.attribute_name = #{item.attributeName} AND ta.attribute_value = #{item.attributeValue}
		</foreach>
		</if>
	</select>

	<select id="selectOrders" resultMap="orderResult">
		SELECT o.id, o.`count`, o.turnover_id, o.product_id, o.updated, o.created, o.`status`, o.modified, o.served, o.printed, 
			t.table_id, t.payment, p.category_id, p.num, p.product_price, p.thumb, p.bar_name, m.NAME
		FROM `order` o, turnover t, product p LEFT JOIN multilang m ON m.id = CONCAT('p', p.id) AND m.locale = #{locale}
		WHERE o.id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
		    <!-- http://my.oschina.net/linuxred/blog/38802 foreach 说明 -->
			#{item}
		</foreach>
		AND o.turnover_id = t.id
		AND o.product_id = p.id
		AND p.active=true
		Order by o.created
	</select>
	
	
	<select id="select" parameterType="Order" resultType="Order">
		SELECT
		id, turnover_id, product_id, `count`, created, updated, `status`, modified, served, printed
		FROM `order`
		WHERE id=#{id}
	</select>

	<insert id="insert" parameterType="Order" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO `order`
		(turnover_id, product_id, `count`, created, printed)
		VALUES
		(#{turnover.id}, #{product.id}, #{count}, #{created}, #{printed})
	</insert>

	<update id="update" parameterType="Order">
		UPDATE `order`
		SET 
		updated=NOW() 
		<if test="status != null">
		, `status`=#{status}
			<if test="status == 0">
			, served = NOW()
			</if>
		</if>
		<if test="count != null">
		, count=#{count}
		</if>
		<if test="modified != null">
		, modified=#{modified}
		</if>
		<if test="printed != null">
		, printed=#{printed}
		</if>
		WHERE id=#{id}
	</update>
	
	<update id="updatePrint">
		UPDATE `order`
		SET 
		updated=NOW() 
		, printed= 1
		WHERE id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		    <!-- http://my.oschina.net/linuxred/blog/38802 
		    http://blog.csdn.net/small____fish/article/details/8029030/ foreach 说明 -->
			#{item.id}
		</foreach>
	</update>
	
	<delete id="deleteByTurnoverId" parameterType="Order">
		DELETE FROM `order`
		WHERE turnover_id=#{turnover.id}
	</delete>
	
	<delete id="delete" parameterType="Order">
		DELETE FROM `order`
		WHERE id=#{id}
	</delete>

	<delete id="deleteAll">
		TRUNCATE TABLE `order`
	</delete>

</mapper>